{% extends 'base.html.twig' %}


{% block header_navigation_links %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_post_index') }}">
            Post list
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_post_filter') }}">
            Filtered posts
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('homepage') }}">
            Back to blog
        </a>
    </li>
{% endblock %}
