{% extends 'base.html.twig' %}


{% block header_navigation_links %}
    <li>
        <a href="{{ path('admin_post_index') }}">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Post list
        </a>
    </li>
    <li>
        <a href="{{ path('blog_index') }}">
            <i class="fa fa-home" aria-hidden="true"></i> Back to blog
        </a>
    </li>
{% endblock %}
