<form action="{{ url('admin_post_delete', {id: post.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button  class="btn btn-sm btn-danger" type="submit">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete Post
    </button>
</form>