{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_show' %}

{% block body %}
<div class="card-body">
    <h3 class="card-title">{{ post.title }}</h3>

    {{ post.content|markdown_to_html }}

    <small class="text-muted">{{ post.publishedAt|date("d/m/Y") }}</small>
</div>
{% endblock %}
